/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar-container{
  display: flex;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  width: 90%;
  margin: auto;
}

.navbar-item{
  margin:10px;
  color:lightgrey
}

.nav-icon{
  width: 45px;
   
}

/* .nav-icon:hover{
  display: none;
} */

.nav-icon:hover + .nav-text{
  display: block;
}

.nav-text{
  display: none;
}

.logo-img{
  width: 120px;
 
}

.home{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  
}

.welcome{
  width: 500px;
}

.welcome-header {
  color: rgb(234, 234, 234);
  font-size: 40px;


}
.welcome-text{
  font-size: 16px;
  width: 390px;
  color: rgb(234, 234, 234);
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-welcome-img{
  width: 350px;
}
.search-by-course{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search-form{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 500px;

  
}
.search-form-header{
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}
.search-form-instructions{
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}
.search-by-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

}

.search-by-time-btn{
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(29, 29, 29);
  color: white;
  cursor: pointer;

}

.selected{
  color: rgb(29, 29, 29);
  background-color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.search-by-time-btn-container{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

.search-by-time-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 550px;
}

.search-form-select{
  width: 500px;
  margin-bottom: 5px;
}

.search-form-submit{
  width: 500px;
  
}


.search-form-label{
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(234, 234, 234);
}

.search-alt-text-container{
  
  display: flex;
  width: 500px;
  /* justify-content: space-evenly; */
  
  align-items: left;
}
.search-alt-text{
  margin-top: 10px;
  font-size: 20px;
  text-decoration: underline;
  color:rgb(32, 90, 178);
  /* margin-left: 20px; */
}

.search-alt-text:hover{
  color: white;
  cursor: pointer;
}



.react-time-picker__inputGroup__input {
  width:70px !important; /* Adjust input width */
  font-size: 16px; /* Optional: Increase font size */
}
.react-time-picker__wrapper {
  padding: 8px; /* Increase spacing */
}

.time-input{
  margin-bottom: 10px;
  width: 105px;
}

.time-input-label{
  font-size: 20px;
}
